<h1 style="text-align: center; font-size: 26px; font-family: 'Cairo', cursive;">Explorateur de fichiers</h1>
<div style="display: flex; flex: 35%; flex-direction: column;">
	<div style="margin-top: 10px; margin-left: 5px;">
		<span id="createDirectory" ng-click="createDirectory()">
			<i class="fas fa-file" style="font-size: 30px;">
				<span style="font-weight: 300; font-size: 14px; font-family: 'Cairo', cursive;">Add Directory</span>
			</i>
		</span>
	</div>
	<div style="margin-top: 20px; margin-left: 5px;">
		<span id="filePicker" ng-click="pickFile()">
			<i class="fas fa-camera" style="font-size: 30px;">
				<span style="font-weight: 300; font-size: 14px; font-family: 'Cairo', cursive;">Add photo</span>
			</i>
		</span>
	</div>
</div>
<div style="display: flex; flex: 65%;">
	<h2 style="text-align: center; font-size: 18px; font-family: 'Cairo', cursive; margin-left: auto; margin-right: auto;">Liste des dossiers</h1>
</div>

